extends ../layouts/master

block content 
	h1 My Recipes
	div.container
		a.btn.btn-success(href='/create') New Recipe 

		each recipe in recipes
			div.recipe
				h2
					a(href='/recipe/' + recipe._id)= recipe.title
				p= recipe.description

				a.btn.btn-success(href='/edit/' + recipe._id) Edit 
				a.btn.btn-danger(href='/delete/' + recipe._id) Delete